
<div class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
  <a class="navbar-brand" routerLink=""> Account </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="">List Account</a>
      <a class="nav-item nav-link" routerLink="add">Add Account</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <footer>
    Register your Account with us
  </footer> -->
</div>